*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

#contener{
    width: 232px;
    height: 400px;
    border-radius: 5px;
    margin: 40px auto;
    background: rgba(0, 0, 0, 0.918);
}

#apresent_result{
    width: 100%;
    input{
        width: 100%;
        font-size: 30pt;
        padding-top: 60px;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 3px;
        text-align: right;
        outline: none;
        border: none;
        font-weight: bold;
        color: #ffffff;
        background: rgba(0, 0, 0, 0);
    }
}

#area_button{
    margin: 5% 2%;
    height: 70%;
    display: grid;
    gap: 5px;
    grid-template-areas: 
    "btn_func_especial btn_func_especial btn_sinal_operacao"
    "btn_number btn_number btn_sinal_operacao"
    "btn_number btn_number btn_sinal_operacao";
    grid-template-rows: 50px auto auto;
}

#btn_func_especial{
    grid-area: btn_func_especial;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    button{
        font-size: 18pt;
        cursor: pointer;
        border: none;
        width: 50px;
        border-radius: 100px;
        background-color: rgb(212, 212, 212);
    }

    button:hover{
        background-color: rgba(212, 212, 212, 0.815);
    }
}

#btn_number{
    grid-area: btn_number;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    button{
        color: white;
        font-size: 18pt;
        cursor: pointer;
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        background-color: rgb(54, 54, 54);
    }

    button:hover{
        background-color: rgba(0, 0, 0, 0.651);
    }
}

#btn_sinal_operacao{
    grid-area: btn_sinal_operacao;
    display: grid;
    button{
        font-size: 18pt;
        cursor: pointer;
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        background-color: rgb(255, 166, 0);
    }

    button:hover{
        background-color:rgba(255, 166, 0, 0.678);
    }
}